
*.json
*.vsidx
/.vs/ArmMordanizerGUI/v17/.futdcache.v2
/.vs/ArmMordanizerGUI/v17/.suo
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
/.vs/ArmMordanizerGUI/DesignTimeBuild/.dtbcache.v2
*.1
/.vs/ProjectEvaluation/armmordanizergui.metadata.v5.2
/.vs/ProjectEvaluation/armmordanizergui.projects.v5.2
*.zip
/ArmMordanizerGUI/obj/project.assets.json
/.vs/ArmMordanizerGUI/DesignTimeBuild/.dtbcache.v2
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
/.vs/ArmMordanizerGUI/v17/.futdcache.v2
/.vs/ArmMordanizerGUI/v17/.suo
/.vs/ProjectEvaluation/armmordanizergui.metadata.v5.2
/.vs/ProjectEvaluation/armmordanizergui.projects.v5.2
/ArmMordanizerGUI/obj/project.assets.json
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
/.vs/ArmMordanizerGUI/FileContentIndex/cd490aef-14b7-4fa8-a52c-954ac3661ffc.vsidx
